.list-container {
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  overflow-y: auto;
  max-height: 200px;
}

/* Style list items */
.list-item {
  padding: 5px;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  display: flex;
  justify-content: center;
  color: black;
}
.list-item:last-child {
  border-bottom: none;
}
